<section class="breadcrumbs">
    <div class="wrapper">
        <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/services']">Our Services</a></li>
            <li class="active"><a href="#">Software Prototyping</a></li>
        </ul>
    </div>
</section>

<section class="pageHeader softProt">
    <div class="wrapper vc-container">
        <div class="block vc-block">
            <h1>Software Prototyping</h1>
            <p>An incredibly useful tool for starting the development of new products</p>
        </div>
    </div>
</section>

<section class="brief">
    <div class="wrapper">
        <p>We encourage our clients to avail themselves of our software prototyping solutions when seeking an ideal method for refining functionality, setting correct project priorities, and detecting potential issues.</p>
    </div>
</section>

<section class="description">
    <div class="wrapper">
        <h2>Independent Quality Assurance offers a threefold benefit</h2>
        <hr>
        <div class="row">
            <div class="col-2-ls col-2-ms col-2-ss col-2-xs">
                <img [src]="deployURL + '/assets/images/icon/done.svg'" alt="">
            </div>
            <section class="col-10-ls col-10-ms col-10-ss col-10-xs block">
                <p>The opportunity to simulate the business's automation process for full analysis of the process</p>
            </section>
        </div>
        <div class="row">
            <div class="col-2-ls col-2-ms col-2-ss col-2-xs">
                <img [src]="deployURL + '/assets/images/icon/done.svg'" alt="">
            </div>
            <section class="col-10-ls col-10-ms col-10-ss col-10-xs block">
                <p>The chance to improve a system in which a business can dramatically depend upon: The software system.</p>
            </section>
        </div>
        <div class="row">
            <div class="col-2-ls col-2-ms col-2-ss col-2-xs">
                <img [src]="deployURL + '/assets/images/icon/done.svg'" alt="">
            </div>
            <section class="col-10-ls col-10-ms col-10-ss col-10-xs block">
                <p>Prototyping allows for the verification of workflows and smooth operation. It also allows for an assessment on a product's user friendliness before investing larger sums of money into the project.</p>
            </section>
        </div>
        <div class="row">
            <div class="col-2-ls col-2-ms col-2-ss col-2-xs">
                <img [src]="deployURL + '/assets/images/icon/done.svg'" alt="">
            </div>
            <section class="col-10-ls col-10-ms col-10-ss col-10-xs block">
                <p>Prototyping allows a business to more accurately establish goals, to protect software development investments and to be more realistic as well as accurate in predicting the schedule of deliverables.</p>
            </section>
        </div>
        <div class="row">
            <div class="col-2-ls col-2-ms col-2-ss col-2-xs">
                <img [src]="deployURL + '/assets/images/icon/done.svg'" alt="">
            </div>
            <section class="col-10-ls col-10-ms col-10-ss col-10-xs block">
                <p>Obstructions in communication and misunderstandings can be avoided and, as such, so can potential losses. When you partake of prototyping solutions, you pay for necessary features on an as needed basis. Even better, you can examine how such features affect performance.</p>
            </section>
        </div>
    </div>
</section>

<section class="weDeliver">
    <div class="wrapper">
        <h2>What we deliver</h2>
        <hr>
        <div class="row">
            <section class="col-6-ls col-6-ms col-6-ss block">
                <h3>Clickable wireframes</h3>
                <p>It does not matter what the complexity, we can create wireframes for just about any software system. We invite you to depend on our vast skills and profound experience in business logic modeling, crosscheck vital software features, and application mechanics before the development of a project commences.</p>
            </section>
            <section class="col-6-ls col-6-ms col-6-ss block">
                <h3>Designed interface</h3>
                <p>Our group has a team of graphic designers that deliver exceptional GUI for an app when the project reaches its final stage of development.</p>
                <p>This allows us to follow through to the end stages of your project and to give your project a feel and look that is complete and unifi</p>
            </section>
        </div>
        <div class="row">
            <section class="col-6-ls col-6-ms col-6-ss block">
                <h3>Static sketches/mockups</h3>
                <p>A time saving and cost effective method put into place in an effort to avoid any development team misunderstandings. We establish a static app model that describes the features of your project and concentrates on the chief interdependence identified between app modules.</p>
            </section>
            <section class="col-6-ls col-6-ms col-6-ss block">
                <h3>Specification</h3>
                <p>To ensure certain elements are emphasized and included, we make the specifications for your future system highly detailed. The documentation will meet the set standard of excellence established by our QA team.</p>
            </section>
        </div>
    </div>
</section>

<section class="contactUs">
    <div class="wrapper">
        <div class="row">
            <div class="col-8-ls col-8-ms">
                <p>Need a software prototyping?</p>
            </div>
            <div class="col-4-ls col-4-ms">
                <a [routerLink]="['/contacts']" id="contact" class="js-open-popup-contact" >Contact Us</a>
            </div>
        </div>
    </div>
</section>

<section class="devcenter">
    <div class="wrapper">
        <h2>Our Development Center</h2>
        <hr>
        <div class="row">
            <div class="col-4-ls col-4-ms col-6-ss col-12-xs">
                <img [src]="deployURL + '/assets/images/devcenter-1.jpg'" alt="">
            </div>
            <div class="col-4-ls col-4-ms col-6-ss col-12-xs">
                <img [src]="deployURL + '/assets/images/devcenter-2.jpg'" alt="">
            </div>
            <div class="col-4-ls col-4-ms mobileHide">
                <img [src]="deployURL + '/assets/images/devcenter-3.jpg'" alt="">
            </div>
        </div>
    </div>
</section>
