<section class="breadcrumbs">
    <div class="wrapper">
        <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/services']">Our Services</a></li>
            <li class="active"><a href="#">OS X</a></li>
        </ul>
    </div>
</section>

<section class="pageHeader osxHeader">
    <div class="wrapper vc-container">
        <div class="block vc-block">
            <h1>OS X</h1>
            <p>Delivering the top-notch OS X applications</p>
        </div>
    </div>
</section>

<section class="brief">
    <div class="wrapper">
        <img [src]="deployURL + '/assets/images/icon/s_setting.svg'" alt="">
        <h2>We Specialize in Complexity</h2>
        <p>When it comes to creating Mac OSX, we specialize in developing apps with complexity. In fact, we challenge ourselves to achieve new innovations. Our team enjoys facing new challenges in our effort to create an impressive product, one that excels and even exceeds the expectations of our clients. Let us help you bring your ideas into reality.</p>
    </div>
</section>

<section class="feautures">
    <div class="wrapper">
        <h2>Power Features, Sleek Design, Smooth Dynamics</h2>
        <hr>
        <p>Our designers skilled in creating apps for the Mac OS X User Interface, we take all that is great about the Mac OSX SDX and combine it with our own creativity to create precisely what our clients require when they need it.</p>
    </div>
</section>

<section class="areas">
    <div class="wrapper">
        <h2>The Areas of Expertise we Have with Mac OS:</h2>
        <hr>
        <section class="row">
            <section class="col-4-ls col-4-ms col-4-ss block">
                <img [src]="deployURL + '/assets/images/icon/done.svg'" alt="">
                <p>Software for Social Media</p>
            </section>
            <section class="col-4-ls col-4-ms col-4-ss block">
                <img [src]="deployURL + '/assets/images/icon/done.svg'" alt="">
                <p>Software for Retail</p>
            </section>
            <section class="col-4-ls col-4-ms col-4-ss block">
                <img [src]="deployURL + '/assets/images/icon/done.svg'" alt="">
                <p>Game Development</p>
            </section>
            <section class="col-4-ls col-4-ms col-4-ss block">
                <img [src]="deployURL + '/assets/images/icon/done.svg'" alt="">
                <p>Driver Development</p>
            </section>
            <section class="col-4-ls col-4-ms col-4-ss block">
                <img [src]="deployURL + '/assets/images/icon/done.svg'" alt="">
                <p>Customized Business Workflows</p>
            </section>
            <section class="col-4-ls col-4-ms col-4-ss block">
                <img [src]="deployURL + '/assets/images/icon/done.svg'" alt="">
                <p>Customize Business Software</p>
            </section>
        </section>
    </div>
</section>

<section class="contactUs">
    <div class="wrapper">
        <div class="row">
            <div class="col-8-ls col-8-ms">
                <p>                        Need an application on OS X?
                </p>
            </div>
            <div class="col-4-ls col-4-ms">
                <a [routerLink]="['/contacts']" id="contact" class="js-open-popup-contact" >Contact Us</a>
            </div>
        </div>
    </div>
</section>
