<section class="breadcrumbs">
    <div class="wrapper">
        <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/services']">Our Services</a></li>
            <li class="active"><a href="#">Software development audit</a></li>
        </ul>
    </div>
</section>

<section class="pageHeader devAudit">
    <div class="wrapper vc-container">
        <div class="block vc-block">
            <h1>Software development audit</h1>
            <p>To help you identify the core project objectives and optimize the project performance</p>
        </div>
    </div>
</section>

<section class="content">
    <div class="wrapper">
        <p>When it comes to huge projects and big ideas, it is wonderful to have a concise objective and a good idea, but it really is another thing to have highly effective processes in place so you can achieve your goals. When it comes to projects there are plenty of things requiring delegation, and it is the collaborative efforts of many that make a big idea manifest in reality.</p>
        <p>If you've ever started a project only to have something nagging at you as you question what you've forgotten, or if you question the validity of your processes altogether, or if you desire a smoother operation, that's where we can help. We offer development and evaluation services so that we can help you ensure that your investment is not going to waste and that every penny is going to getting your project off the ground. We will help you minimize ineffective practices and outmoded measures or procedures. If we monitor your project from beginning to end, and we are more than happy to evaluate and supervise the development process of your product from the very beginning stages.</p>
        <p>We are here to assist during every stage of development, and we are prepared to help you optimize your process from beginning to end. We can ensure a 100% optimized development plan.</p>
    </div>
</section>

<section class="stages">
    <div class="wrapper">
        <h2>The optimization consists of the following stages</h2>
        <hr>
        <section>
            <h3>Project Planning</h3>
            <p>With the project planning stage, we will help you in deciding what objectives you want to be met and how to go about implementing measures to meet the requirements you establish. Through project planning, we help you identify feasible solutions and/or that which is outside the realm of the project's scope.</p>
        </section>
        <section>
            <h3>Static sketches/mockups</h3>
            <p>This phase involves project analysis, testing of the product, and dealing with the necessary documentation. We can help you assess the quality of the product code to ensure it is easy to maintain and written in clean language.</p>
            <p>At this stage, updates can be made to existing code to ensure the smooth flow of future project implementations. We will help in identifying any bugs in the code and product, and ensure all software design/code structure documentation is completed. When necessary, we will help with the writing of external and internal APIs as well.</p>
        </section>
        <section>
            <h3>Maintain &amp; Sustain</h3>
            <p>The maintenance/sustaining phase involves dealing with any issues that develop following product launch and remedying the issues that arise.</p>
        </section>
    </div>
</section>

<section class="contactUs">
    <div class="wrapper">
        <div class="row">
            <div class="col-8-ls col-8-ms">
                <p>                        Need a dedicated development center?
                </p>
            </div>
            <div class="col-4-ls col-4-ms">
                <a [routerLink]="['/contacts']" id="contact" class="js-open-popup-contact" >Contact Us</a>
            </div>
        </div>
    </div>
</section>

<section class="devcenter">
    <div class="wrapper">
        <h2>Our Development Center</h2>
        <hr>
        <div class="row">
            <div class="col-4-ls col-4-ms col-6-ss col-12-xs">
                <img [src]="deployURL + '/assets/images/devcenter-1.jpg'" alt="">
            </div>
            <div class="col-4-ls col-4-ms col-6-ss col-12-xs">
                <img [src]="deployURL + '/assets/images/devcenter-2.jpg'" alt="">
            </div>
            <div class="col-4-ls col-4-ms mobileHide">
                <img [src]="deployURL + '/assets/images/devcenter-3.jpg'" alt="">
            </div>
        </div>
    </div>
</section>
