<section class="breadcrumbs">
    <div class="wrapper">
        <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/services']">Our Services</a></li>
            <li class="active"><a href="#">Javascript</a></li>
        </ul>
    </div>
</section>

<section class="pageHeader jsHeader">
    <div class="wrapper vc-container">
        <div class="block vc-block">
            <h1>Javascript</h1>
            <p>We are a software development outsourcing and outstaffing company</p>
        </div>
    </div>
</section>

<section class="brief">
    <div class="wrapper">
        <img [src]="deployURL + '/assets/images/icon/s_setting.svg'" alt="">
        <p>JavaScript is making some serious changes to the way applications are developed, particularly with jQuery, AngularJS, and Node.js. We are happy to help you with small or larger JavaScript developing needs. JavaScript is an untyped, dynamic, high-level, language for programming. It is among the top three programming languages used in generating content, along with HTML5 and CSS. We rely on some of the following libraries when we help in generating JavaScript content:</p>
    </div>
</section>

<section class="feautures">
    <div class="wrapper">
        <h2>AngularJS</h2>
        <hr>
        <p>AngularJS is maintained by none other than Google and a group of developers: it is a framework that is an open source web app. It is used for dealing with challenges one faces in creating single page web applications. The use of the program allows for the simplification of page testing and development.</p>
    </div>
</section>

<section class="feautures white">
    <div class="wrapper">
        <h2>JQuery</h2>
        <hr>
        <p>This is a JavaScript library with a cross platform. The use of JQuery allows for the ease of HTML scripting on the client's side. It is the most widely used JavaScript library to date. It is installed in as many as 65 % of the top ten million leading websites on the Internet.</p>
    </div>
</section>

<section class="feautures">
    <div class="wrapper">
        <h2>Node.js</h2>
        <hr>
        <p>Another cross platform, open source, runtime environment used for the purposes of creating a server side web app. Node.js apps are run with IBM I, IBM System z, IBM AIX, NonStop, FreeBSD, Linux, Microsoft Windows, and OS X. The apps are writing in JavaScript.</p>
    </div>
</section>

<section class="contactUs">
    <div class="wrapper">
        <div class="row">
            <div class="col-8-ls col-8-ms">
                <p>                        Need a Javascript project delivered?
                </p>
            </div>
            <div class="col-4-ls col-4-ms">
                <a [routerLink]="['/contacts']" id="contact" class="js-open-popup-contact" >Contact Us</a>
            </div>
        </div>
    </div>
</section>
