<section class="breadcrumbs">
    <div class="wrapper">
        <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/services']">Our Services</a></li>
            <li class="active"><a href="#">Maintenance and Support</a></li>
        </ul>
    </div>
</section>

<section class="pageHeader maintenance">
    <div class="wrapper vc-container">
        <div class="block vc-block">
            <h1>Maintenance and Support</h1>
            <p>Maintaining and supporting your software is a full-time job</p>
        </div>
    </div>
</section>

<section class="content">
    <div class="wrapper">
        <p>We hold strongly the understanding that expert maintenance and full product support are the methods that must be used to minimize the total cost of ownership, both in terms of direct and indirect costs, of the software system (product). </p>
        <p>To that end, we are happy to assist you in seeking out and implementing project improvements post project launch and optimization of steps leading to improvement execution. What's more, our focus is not on single product units or modules, but rather we concentrate on the cost efficiency of the system's IT infrastructure and the system's smooth operation and dependability.</p>
    </div>
</section>

<section class="stages">
    <div class="wrapper">
        <h2>The optimization consists of the following stages</h2>
        <hr>
        <section>
            <h3>Adaptive maintenance</h3>
            <p>Our adaptive maintenance measures will ensure that your hardware and software prove stable and dependable when in use in an unchanged environment.</p>
        </section>
        <section>
            <h3>Budget Flexibility</h3>
            <p>Our outsourcing solutions for project support and maintenance are stellar and give our clients an exceptional level of flexibility. You only have to pay for necessary services when such services are required. Your needs will change, and when they do, you will find MindPark highly adaptable and willing to provide you with an array of options.</p>
        </section>
        <section>
            <h3>Maintain &amp; Sustain</h3>
            <p>Our maintenance solutions for your software products includes full support consisting of an unbiased assessment of the software, a product consult, and we will maintain your IT system 24 hours a day, seven days a week. Not only do we ensure the lowest possible IT costs, but also we free up your staff from having to deal with IT maintenance so they can be put to work dealing with other aspects of the business.</p>
        </section>
        <section>
            <h3>Out of the Box Technology Expertise</h3>
            <p>We make sure our professionals stay on top of and familiar with all of the latest technologies and industry related knowledge. This means our professionals can monitor your system and use their vast knowledge to maximize your application's uptime, and the dynamic compliance of your system. Our professionals are also at the ready to ensure your system meets and complies with all industry norms.</p>
        </section>
        <section>
            <h3>Perfective and corrective maintenance</h3>
            <p>We are happy to augment, re-build, and personalize a solution for dealing with issues, both major and minor, that diminish system functionality or performance.</p>
        </section>
        <section>
            <h3>Scheduled maintenance</h3>
            <p>MindPark offers this service in an effort to ensure product updates and releases are managed effectively. We will help ensure your system remains current and aligned with the newest technologies; It will give you a leg up on your competitors.</p>
        </section>
        <section>
            <h3>Seasoned Team</h3>
            <p>MindPark is proud to have professionals who are skilled in dealing with complex software issues and finding innovative solutions for software products maintenance and suppot if, and when, they arise.</p>
        </section>
    </div>
</section>

<section class="contactUs">
    <div class="wrapper">
        <div class="row">
            <div class="col-8-ls col-8-ms">
                <p>                        Need a dedicated development center?
                </p>
            </div>
            <div class="col-4-ls col-4-ms">
                <a [routerLink]="['/contacts']" id="contact" class="js-open-popup-contact" >Contact Us</a>
            </div>
        </div>
    </div>
</section>

<section class="devcenter">
    <div class="wrapper">
        <h2>Our Development Center</h2>
        <hr>
        <div class="row">
            <div class="col-4-ls col-4-ms col-6-ss col-12-xs">
                <img src="/assets/images/devcenter-1.jpg" alt="">
            </div>
            <div class="col-4-ls col-4-ms col-6-ss col-12-xs">
                <img src="/assets/images/devcenter-2.jpg" alt="">
            </div>
            <div class="col-4-ls col-4-ms mobileHide">
                <img src="/assets/images/devcenter-3.jpg" alt="">
            </div>
        </div>
    </div>
</section>
