<section class="breadcrumbs">
    <div class="wrapper">
        <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/services']">Our Services</a></li>
            <li class="active"><a href="#">HTML5</a></li>
        </ul>
    </div>
</section>

<section class="pageHeader htmlHeader">
    <div class="wrapper vc-container">
        <div class="block vc-block">
            <h1>HTML5</h1>
            <p>We are a software development outsourcing and outstaffing company</p>
        </div>
    </div>
</section>

<section class="brief">
    <div class="wrapper">
        <img src="/assets/images/icon/s_setting.svg" alt="">
        <p>CSS3 and HTML5 are for developing web applications and content. Specifically, they can be used to create web pages and systems that can operate across an array of devices, browsers, and operating systems. These languages allow the developer to write the code one time and to access the code from any location. There is plenty of flexibility in terms of functionality, layout, design, and style. Certain standards have to be met when using these coding langugaes. Some of the perks of CSS3 and HTML5 include:</p>
    </div>
</section>

<section class="feautures">
    <div class="wrapper">
        <h2>Browser Consistency</h2>
        <hr>
        <p>All web apps and pages are not supported by every browser, but HTML5 along with CSS3 can be used by a designer to ensure compatibility between browsers and systems or sites.</p>
    </div>
</section>

<section class="feautures white">
    <div class="wrapper">
        <h2>Geolocation</h2>
        <hr>
        <p>HTML5 allows for users to opt in and let their location be known and with the opt in, HTML5 apps can support location based apps or services.</p>
    </div>
</section>

<section class="feautures">
    <div class="wrapper">
        <h2>Improved User Experience</h2>
        <hr>
        <p>HTML5 code allows for diversity in both presentation and design across every kind of media type, and it allows for more flexibility in the realm of website and app production.</p>
    </div>
</section>

<section class="feautures white">
    <div class="wrapper">
        <h2>Many Platforms &amp; Video Extension</h2>
        <hr>
        <p>Since 2010, nearly two thirds of all videos online are coded for HTML5. The coding has built in native video support thereby allowing for the direct build of video in supporting browsers and faster access to visual media.</p>
    </div>
</section>

<section class="feautures">
    <div class="wrapper">
        <h2>Money Saving Multi-Platform Development</h2>
        <hr>
        <p>If you want reduced costs in association with development and maintenance, you can make use of HTML5 and CSS3 code. It's works through several markets, devices, and platforms.</p>
    </div>
</section>

<section class="feautures white">
    <div class="wrapper">
        <h2>Offline browsing</h2>
        <hr>
        <p>Not every web app is available offline if there is no Internet connectivity present, but with HTML5 code in place, local storage is supported and therefore the content can be viewed offline via cached material.</p>
    </div>
</section>

<section class="feautures">
    <div class="wrapper">
        <h2>Page Ranking Excellence</h2>
        <hr>
        <p>In order to get an excellent page ranking in the major search engines the code you use to create the site must be semantically accurate. Errors in the code will earn a page a poor page ranking. Content marketing cannot repair the poor ranking gained from poor coding, no matter how much content you produce or the quality of the content generated.</p>
    </div>
</section>

<section class="contactUs">
    <div class="wrapper">
        <div class="row">
            <div class="col-8-ls col-8-ms">
                <p>                        Need an HTML application?
                </p>
            </div>
            <div class="col-4-ls col-4-ms">
                <a [routerLink]="['/contacts']" id="contact" class="js-open-popup-contact" >Contact Us</a>
            </div>
        </div>
    </div>
</section>
