<section class="breadcrumbs">
    <div class="wrapper">
        <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li class="active"><a href="#">About us</a></li>
        </ul>
    </div>
</section>

<section class="pageHeader aboutHeader">
    <div class="wrapper vc-container">
        <div class="block vc-block">
            <h1>About Us</h1>
            <p>We are a software development outsourcing and outstaffing company</p>
        </div>
    </div>
</section>

<section class="brief">
    <div class="wrapper">
        <img [src]="deployURL + '/assets/images/icon/s_people.svg'" alt="">
        <p>We are a software development company which offers outsourcing and outstaffing services. Our head office is in Kiev, Ukraine but we also have a representative office in Wilmington, Delaware in America. The main goal we set is to provide customers with the high-quality products in Ukraine and all over the world.</p>
    </div>
</section>

<section class="whyUs">
    <div class="wrapper">
        <h2>Why Us</h2>
        <hr>
        <div class="row">
            <div class="tr">
                <section class="col-8-ls col-9-ms col-9-ss col-12-xs block">
                    <h3>Customer-Oriented Approach</h3>
                    <p>You will find our services customer oriented as our goal is to satisfy our customers and to add to the value of your existing business. We meet your preferences by adapting our processes to fit your company's needs. We want to ensure your comfort when you outsource from us.</p>
                    <p>Our professional project managers will serve as expert extensions of your existing organization and this allows us to blend into your operations as we bring cost effective solutions to your operation by identifying the processes you can optimize to improve your bottom line.</p>
                    <p>We help you achieve savings and we seek to develop a long-term business relationship with every one of our clients.</p>
                </section>
                <div class="col-4-ls col-3-ms col-3-ss hide-xs imglogo">
                    <img [src]="deployURL + '/assets/images/icon/messege.svg'" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="tr">
                <div class="col-4-ls col-3-ms col-3-ss hide-xs imglogo">
                    <img [src]="deployURL + '/assets/images/icon/people.svg'" alt="">
                </div>
                <section class="col-8-ls col-9ms col-9-ss col-12-xs block">
                    <h3>Stable Qualified Teams</h3>
                    <p>We nurture, attract and retain the top IT talent in the industry by having top grading HR, and through collaboration with the leading IT universities.</p>
                    <p>We offer an impressive benefits package, and we have grown a team consisting of well over 1300 IT experts at the ready to address your organization's needs. Each member of our team has a minimum of three and as many as 25 years IT experience working with software development projects.</p>
                    <p>Our turnover rate is minimal so you can count on your data, information, and intellectual property's security at all times.</p>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="tr">
                <section class="col-8-ls col-9-ms col-9-ss col-12-xs block">
                    <h3>Reasonable Cost</h3>
                    <p>We have a smart off/nearshore delivery model that allows our clients to benefit significantly. We can easily boast the top IT talents as being part of our team, all of which are from parts of Eastern Europe: An area famed for its excellent educational opportunities, analytical talents, and affordable rates.</p>
                    <p>We always hire the top regional software development professionals.</p>
                </section>
                <div class="col-4-ls col-3-ms col-3-ss hide-xs imglogo">
                    <img [src]="deployURL + '/assets/images/icon/safe.svg'" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="tr">
                <div class="col-4-ls col-3-ms col-3-ss hide-xs imglogo">
                    <img [src]="deployURL + '/assets/images/icon/calc.svg'" alt="">
                </div>
                <section class="col-8-ls col-9-ms col-9-ss col-12-xs block">
                    <h3>Full Cycle Services</h3>
                    <p>From the beginning of your project to the product launch and beyond, we offer full cycle solutions. Our services include an analysis of development processes, quality assurance testing, product launching and post launch maintenance.</p>
                    <p>We cover the full software development life cycle from business analysis to quality assurance and deployment and post-launch maintenance. This means you get one vendor for all your business needs. We can help make your budget and your project timeline easy to forecast and more dependable.</p>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="tr">
                <section class="col-8-ls col-9-ms col-9-ss col-12-xs block">
                    <h3>Legal Protection</h3>
                    <p>We offer legal protections as well, including non-disclosure agreements that restrict any access to information deemed confidential to any third party (parties). Non-competition and Confidentiality for every party to agree to treat the other party's information and restricted and entirel</p>
                    <p>Non-disclosure Agreement to restrict access to confidential information to third parties. Confidentiality and Non-competition for each party to agree to treat the other party's information as strictly confidential.</p>
                </section>
                <div class="col-4-ls col-3-ms col-3-ss hide-xs imglogo">
                    <img [src]="deployURL + '/assets/images/icon/doc.svg'" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="tr">
                <div class="col-4-ls col-3-ms col-3-ss hide-xs imglogo">
                    <img [src]="deployURL + '/assets/images/icon/doc-lock.svg'" alt="">
                </div>
                <section class="col-8-ls col-9-ms col-9-ss col-12-xs block">
                    <h3>Intellectual Property Rights</h3>
                    <p>Our clients retain 100% of the intellectual property rights of any project we develop for them.</p>
                </section>
            </div>
        </div>
    </div>
</section>

<section class="devcenter">
    <div class="wrapper">
        <h2>Our Development Center</h2>
        <hr>
        <div class="row">
            <div class="col-4-ls col-4-ms col-6-ss col-12-xs">
                <img [src]="deployURL + '/assets/images/devcenter-1.jpg'" alt="">
            </div>
            <div class="col-4-ls col-4-ms col-6-ss col-12-xs">
                <img [src]="deployURL + '/assets/images/devcenter-2.jpg'" alt="">
            </div>
            <div class="col-4-ls col-4-ms mobileHide">
                <img [src]="deployURL + '/assets/images/devcenter-3.jpg'" alt="">
            </div>
        </div>
    </div>
</section>

<section class="contactUs">
    <div class="wrapper">
        <div class="row">
            <div class="col-8-ls col-8-ms">
                <p>                        Want an award too? Work with us!
                </p>
            </div>
            <div class="col-4-ls col-4-ms">
                <a [routerLink]="'/contacts'" id="contact" class="js-open-popup-contact" >Contact Us</a>
            </div>
        </div>
    </div>
</section>

<section class="principles">
    <div class="wrapper">
        <h2>Our Principles</h2>
        <hr>
        <div class="row">
            <section class="col-6-ls col-6-ms col-6-ss block">
                <h3>Smart Communication</h3>
                <p>You will not feel any time difference even if you are located on the other side of the globe. Depending on your requirements, complete project and progress information can be available around the clock.</p>
            </section>
            <section class="col-6-ls col-6-ms col-6-ss block">
                <h3>Ingenuity and Professionalism</h3>
                <p>Although we base our solutions on sophisticated principles and technologies, they are still easy to use and understand. We know how to make complicated things simple and useful.</p>
            </section>
            <section class="col-6-ls col-6-ms col-6-ss block">
                <h3>Verifiable Information</h3>
                <p>Not just words. Itransition offers documents, references, artifacts and other tangible evidence to verify its expertise; we never make unsupported claims.</p>
            </section>
            <section class="col-6-ls col-6-ms col-6-ss block">
                <h3>Cultural Collaboration</h3>
                <p>We are experienced in bridging the gaps between different cultures and business traditions. We work with our customers on the basis of respect for their local approaches and business practices while employing the advantages of globalization.</p>
            </section>
        </div>
    </div>
</section>
