<section class="breadcrumbs">
    <div class="wrapper">
        <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/services']">Our Services</a></li>
            <li class="active"><a href="#">Dedicated development center</a></li>
        </ul>
    </div>
</section>

<section class="pageHeader dedDev">
    <div class="wrapper vc-container">
        <div class="block vc-block">
            <h1>Dedicated development center</h1>
            <p>For your long term software development projects</p>
        </div>
    </div>
</section>

<section class="content">
    <div class="wrapper">
        <p>Our high end staffing solutions enhances the performance of your offsite development centers and, in turn, maximizes your overall capacity and bottom line.</p>
        <p>We improve the efficacy of your development centers by using our wide range of practices to get each center up to speed. Through our offshore staffing solutions, which serves as an extension of our human resources department, our clients are introduced to an extensive range of solutions to help in integrating offsite centers with the culture of its parent company.</p>
        <p>All for the cost of a transparent, nominal fee each month, our company is happy to expedite the transfer of staff to our client's development centers. It is through this process that we intensify between-site collaborations and we further promote productivity.</p>
        <p>To further assist your off-site workers in its adaptation of your preexisting corporate culture, we are happy to contract team members who can work with onsite team members and local staff. In doing so, we can lend to the establishment of solid communications between your local and non-local team members.</p>
        <p>Through open communications, a path of understanding can be established where both sides begin to comprehend the needs of your business and how such needs can be addressed. We incentivize the short term relocation of members of your team and improve your team's performance and morale.</p>
    </div>
</section>

<section class="benefit">
    <div class="wrapper">
        <h2>The Benefit of Dedicated IT Developers</h2>
        <hr>
        <p>Leading enterprises and software companies turn to our outsourcing skills as well as our ability to establish development centers as managed extensions of a company. The reasons why some businesses choose to hire an offshore-dedicated team include</p>
        <div class="row">
            <section class="col-6-ls col-6-ms col-6-ss block">
                <h3>Dedication</h3>
                <p>With our dedicated model, a business can rest assured in knowing our professional team goes into the task with a sole focus on the projects in question, and their entrance is absent of distractions stemming from third-party undertakings.</p>
            </section>
            <section class="col-6-ls col-6-ms col-6-ss block">
                <h3>Essentials</h3>
                <p>Businesses that outsource for a dedicated team can do away with the undesirable administrative hassles that come associated with in-house staffing. Thus, time is saved and stress is reduced when the company does not have to deal with things like benefits packages, equipment, and office rent or other forms of overhead necessary to accommodate in-house staff.</p>
            </section>
        </div>
        <div class="row">
            <section class="col-6-ls col-6-ms col-6-ss block">
                <h3>Fine Development</h3>
                <p>The offshore team becomes intimately familiar with the needs of the client company and in doing so develops a greater understanding of the client's needs and unique business processes.</p>
            </section>
            <section class="col-6-ls col-6-ms col-6-ss block">
                <h3>Scalability</h3>
                <p>The number of members that formulate a dedicated team can fluctuate, and therefore increases or decreases, all of which depends on business and project requirements.</p>
            </section>
        </div>
    </div>
</section>

<section class="contactUs">
    <div class="wrapper">
        <div class="row">
            <div class="col-8-ls col-8-ms">
                <p>                        Need a dedicated development center?
                </p>
            </div>
            <div class="col-4-ls col-4-ms">
                <a [routerLink]="['/contacts']" id="contact" class="js-open-popup-contact" >Contact Us</a>
            </div>
        </div>
    </div>
</section>

<section class="devcenter">
    <div class="wrapper">
        <h2>Our Development Center</h2>
        <hr>
        <div class="row">
            <div class="col-4-ls col-4-ms col-6-ss col-12-xs">
                <img [src]="deployURL + '/assets/images/devcenter-1.jpg'" alt="">
            </div>
            <div class="col-4-ls col-4-ms col-6-ss col-12-xs">
                <img [src]="deployURL + '/assets/images/devcenter-2.jpg'" alt="">
            </div>
            <div class="col-4-ls col-4-ms mobileHide">
                <img [src]="deployURL + '/assets/images/devcenter-3.jpg'" alt="">
            </div>
        </div>
    </div>
</section>
