<div class="blog-container">
    <h1 class="page-title">
        W recie in’t enh inets
    </h1>

    <div class="section">
        <div class="paragraph">
            As the cybercrime industry is huge and the number of incidents is growing, companies can’t be 100% safe
            from security threats. What can and should be done is minimizing risks and, consequently, damage, by taking
            security seriously. Yet, a lot of companies still rely on a reactive approach. But is it safe enough? It’s
            time to find out.
        </div>
    </div>
    <div class="section">
        <img class="section-image"
            [src]="deployURL + '/assets/images/blog/W-recie-in-t-enh-inets.png'"
            alt="W recie in’t enh inets"
        />
    </div>
    <div class="section">
        <div class="paragraph">
            Reactive approach teaches us to clean mess up after the attack has happened. Following the logic of this
            method, you have to collect all the information about an attack after it has been committed. Then, you need
            to analyse this data and find out the weaknesses in your defence system. After that, you fix the defence
            system. Such a method has a bunch of downsides, here are the most obvious:
        </div>
        <div class="paragraph">
            Data leaks. The majority of modern cybersecurity solutions use the scheme which is based on the three main
            stages - react, respond and recover. Which leads to inevitable data leaks. Meanwhile, business owners have
            to deal with furious customers, and partners trying to explain how their information got to the public
            access.
        </div>
        <div class="paragraph">
            Out-of-date protection. While you are dealing with some old issues patching up the system, you are
            absolutely open to the new threads. Just like real viruses, virtual ones mutate as well. They adapt to the
            new antiviruses and learn how to trick your protection.
        </div>
        <div class="paragraph">
            Other risks ignorance. Once you’ve been hurt, you are trying to cure yourself of a wound. You want to
            protect yourself from this thread in the future and ignore your back. One of the main reasons for cyber
            attacks are people, the employees of a company who opened a malware file or installed a program with a
            virus.
        </div>
        <div class="paragraph">
            Security management is a complex systematic process, dealing with all aspects of company’s activities,
            starting from personnel employment and termination to vendor management, from security equipment
            implementation and secure software development to business continuity management, from data backup to event
            monitoring and incident response. That is why apart from the reactive approach we need to implement the
            proactive method.
        </div>
        <div class="paragraph">
            How to shift to proactive approach
        </div>
        <div class="paragraph">
            Proactive approach is based on the idea of prevention. You detect all the defects in your cybersecurity
            system and fix them before a real thread appears. In such a mode, you provide your customers with a much
            higher level of protection and exclude a data breach risk.
        </div>
        <div class="paragraph">
            Read more about turnkey cybersecurity solutions for your business in our research
        </div>
        <div class="paragraph">
            Once you’ve realized that proactive approach helps to protect your company and all your customers, you need
            to start its implementation. First, and the most important step is a mental shift which you need to accept.
            Usually, company hosts ignore the approach because it requires larger investments than the reactive method.
            Still, in a long-term perspective, it allows you to save millions of dollars and your reputation as well.
            Here are the most important rules and steps you need to take into account building your cybersecurity
            strategy:
        </div>
        <div class="paragraph">
            Educate your staff. The majority of all cyber attacks were successful only due to the human errors and
            negligence. Unknown files and emails, unverified applications, too simple passwords, unknown flash drives
            and general carelessness make your company and information it holds vulnerable to hacker attacks.
        </div>
    </div>
    <div class="section">
        <img class="section-image"
             [src]="deployURL + '/assets/images/blog/Screenshot_2.png'"
             alt="Screenshot #2"
        />
    </div>
    <div class="section">
        <div class="paragraph">
            What you can do. First of all, explain your staff what information they are responsible for and that their
            action can lead to adverse consequences and data leaks. Second of all, you need to draw up a non-disclosure
            agreement and ask your employees to sign it. Anf third of all, education is a process that is why such
            events as conferences and lectures on the cybersecurity topic. All these measures should teach your
            employees to be more responsible and self-disciplined.
        </div>
    </div>
</div>
