<section class="breadcrumbs">
    <div class="wrapper">
        <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/services']">Our Services</a></li>
            <li class="active"><a href="#">Java</a></li>
        </ul>
    </div>
</section>

<section class="pageHeader javaHeader">
    <div class="wrapper vc-container">
        <div class="block vc-block">
            <h1>Java</h1>
            <p>We are a software development outsourcing and outstaffing company</p>
        </div>
    </div>
</section>

<section class="brief">
    <div class="wrapper">
        <img [src]="deployURL + '/assets/images/icon/s_setting.svg'" alt="">
        <p>With Java's advanced security measures and its stable, platform independant, open source nature, it's widely employed in software system development. Within the land of internet, mobile and business solutions, Java one of the biggest players.</p>
        <p>Regardless of your project's complexness, business and space of application, our Java developers can deliver high-quality solutions expeditiously, relying on an approach that matches your needs, on well-tuned processes and wonderful technical and linguistic skills.</p>
        <p>Product documentation, identity management, production designing, financial reports, full featured financial applications, CRM systems, CAD system integration, in-app payment solutions, work order management, keyword search systems and backup solutions a few important areas of applications for our projects.</p>
        <p>Listed next you can find the main Java technologies and tools we rely on in our software development and testing projects.</p>
        <h3>Desktop</h3>
        <p>AWT, Swing, SWT/JFace, Eclipse RCP, Java Web Start, Java Plug-In, Java 2D, Java 3D</p>
        <hr>
        <h3>Web</h3>
        <p>Servlet, JSP, JSTL, JSF, HTML, JavaScript, AJAX, JQuery, CSS, Spring, Apache Struts, Apache Tiles, Apache Wicket</p>
        <hr>
        <h3>Web services</h3>
        <p>JAX-RS, JAX-WS, JAX-RPC, JAXB, Axis2</p>
        <h3>Server/J2EE</h3>
        <p>JavaBeans, RMI, EJB, JMS, IBM MQ, JDBC, JPA, JTA, JNDI, JNI, Hibernate, JavaMail, Corba</p>
        <hr>
        <h3>Databases</h3>
        <p>Oracle, DB2, SQL Server, MySQL</p>
        <h3>Reporting</h3>
        <p>JasperReports, iReport, Birt</p>
        <h3>Web/application servers</h3>
        <p>Apache Tomcat, IBM WebSphere, JBoss, GlassFish</p>
        <h3>Others</h3>
        <p>Apache (Commons.*, Ant, Ivy, Maven, POI, FOP, Lucene, Log4J, Xerces, Xalan, etc.), iText, Image Magic, EHCache, LDAP</p>
        <hr>
        <h2>Java Development Tools</h2>
        <h3>Development IDE</h3>
        <p>Eclipse, NetBeans, IntelliJ IDEA</p>
        <h3>Code analysis</h3>
        <p>Classycle, PMD, CheckStyle, FindBugs, Sonar</p>
        <h3>Continuous integration</h3>
        <p>Hudson, CruiseControl, Jenkins</p>
        <h3>Testing tools</h3>
        <p>JUnit, EasyMock, JProfiler, VisualVM, SilkTest, HP LoadRunner</p>
    </div>
</section>

<section class="contactUs">
    <div class="wrapper">
        <div class="row">
            <div class="col-8-ls col-8-ms">
                <p>                        Need a Java application?
                </p>
            </div>
            <div class="col-4-ls col-4-ms">
                <a [routerLink]="['/contacts']" id="contact" class="js-open-popup-contact" >Contact Us</a>
            </div>
        </div>
    </div>
</section>
