<section class="breadcrumbs">
    <div class="wrapper">
        <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/services']">Our Services</a></li>
            <li class="active"><a href="#">C/C++</a></li>
        </ul>
    </div>
</section>

<section class="pageHeader cHeader">
    <div class="wrapper vc-container">
        <div class="block vc-block">
            <h1>C/C++</h1>
            <p>We are a software development outsourcing and outstaffing company</p>
        </div>
    </div>
</section>

<section class="brief">
    <div class="wrapper">
        <img src="/assets/images/icon/s_setting.svg" alt="">
        <p>We have more than a decade of experience using and working with C/C++. If you are seeking an expert to design and execute a C/C++ solution will discover a dependable and skilled provider of project services for projects consisting of any level of difficulty. When you work with us, you no longer have to worry about definition, requirement gathering, or design, architecture, testing, execution/implementation, testing, project maintenance, and any future technical support.</p>
        <p>Our C/C++ developer's area specialized team at the ready to develop C/C++ Software projects on demand for an array of industries, including manufacturing, travel, finance, entertainment, healthcare, and automotive. Our specialists have a full understanding of 3D visualization, CAD-PDM integration, speech recognition, electro-mobility, infotainment, video recorders, product life cycle tracking and management, simulations, and more.</p>
        <p>We have created solutions that are dependent on ATL, Boost, C/C++, Qt, STL, WTL, and more:</p>
    </div>
</section>

<section class="feautures">
    <div class="wrapper">
        <p>Web frontend: Qt Webkit</p>
    </div>
</section>

<section class="feautures white">
    <div class="wrapper">
        <p>Testing tools: NUnit, MS UI Automation Framework QTestLib, the open source test management tool TestLink, functional open source testing SoapUI, and REST Console</p>
    </div>
</section>

<section class="feautures">
    <div class="wrapper">
        <p>Server Side Backend: The general purpose programming language C/C++, general use programming language Fortran, Tool Command Language (TCL), and "Practical Extraction and Reporting Language (PERL)</p>
    </div>
</section>

<section class="feautures white">
    <div class="wrapper">
        <p>Frameworks: Boost (set of libraries for C/C++ programming), Qt</p>
    </div>
</section>

<section class="feautures">
    <div class="wrapper">
        <p>Fortech's Full Skill Set in C/C++ Technologies</p>
    </div>
</section>

<section class="feautures white">
    <div class="wrapper">
        <p>Development environments: cross-platform Qt Creator environment, Visual Studio (offering  a group of developer tools, and the software development kit Eclipse</p>
    </div>
</section>

<section class="feautures">
    <div class="wrapper">
        <p>Desktop frontend: C++ (general programming), Qt, the application programming interfaces, WinAPI, which is formerly known as Win32 or Winapi</p>
    </div>
</section>

<section class="feautures white">
    <div class="wrapper">
        <p>Databases:, Microsoft SQL Server, Oracle, SQLite (contains a C programming library, the open-source relational database MySQL, and the lifecycle tracking program Teamcenter</p>
    </div>
</section>

<section class="feautures">
    <div class="wrapper">
        <p>Continuous integration server: Jenkins CI</p>
    </div>
</section>

<section class="feautures white">
    <div class="wrapper">
        <p>C/C++ Development Resources</p>
    </div>
</section>

<section class="feautures">
    <div class="wrapper">
        <p>For more in-depth information on our vast C/C++ development experience, we urge you to take a moment to examine our portfolio.</p>
    </div>
</section>

<section class="contactUs">
    <div class="wrapper">
        <div class="row">
            <div class="col-8-ls col-8-ms">
                <p>                        Need products built on C/C++?
                </p>
            </div>
            <div class="col-4-ls col-4-ms">
                <a [routerLink]="['/contacts']" id="contact" class="js-open-popup-contact" >Contact Us</a>
            </div>
        </div>
    </div>
</section>
