<section class="breadcrumbs">
    <div class="wrapper">
        <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/cases']">Case studies</a></li>
            <li class="active"><a href="#">Shopbeam</a></li>
        </ul>
    </div>
</section>
<section class="pageHeader shopbeamHeader">
    <div class="wrapper vc-container">
        <div class="block vc-block">
            <h1>Shopbeam</h1>
            <p>We are a software development outsourcing and outstaffing company</p>
        </div>
    </div>
</section>
<section class="aboutClient">
    <div class="wrapper">
        <img src="/assets/images/icon/s_people.svg" alt="">
        <h2>About the Client</h2>
        <p>Shopbeam is a complex e-commerce solution that allows to create purchases right from the advertisment that the user is seeing on any website.</p>
        <p>Shopbeam increases brand engagement and conversions by providing a seamless platform for advertizers to connect with customers at the earliest consumer touchpoint.</p>
        <p>Customers are able to discover, register and shop on publisher's sites disrupting their online journey.</p>
        <p>The solutions is a powerful tool for marketers and online business developers that provides a massive increase in the click through rate, engagement rate and conversion rate.</p>
        <p>The company basically says that they are making the ad shoppable. The solution is applicable to all sorts of businesses, including ecommerce, B2B products and services, and practically any other kind of businesess that acquire users via online marketing campaigns.  </p>
    </div>
</section>
<div class="solution">
    <div class="wrapper">
        <h2>Our Solution</h2>
        <hr>
        <p>Shopbeam is a long term project that is still being built for the client. </p>
    </div>
</div>
<section class="techUsed">
    <div class="wrapper">
        <h2>Technologies used</h2>
        <hr>
        <div class="row">
            <div class="col-8-ls col-8-ms col-8-ss container">
                <div class="row">
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/ruby.svg" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/rails.svg" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/pos-sql.svg" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/nginx.svg" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/ansible.svg" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/amazon.svg" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/node.svg" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/angu.svg" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/pyth.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contactUs">
    <div class="wrapper">
        <div class="row">
            <div class="col-8-ls col-8-ms">
                <p>                        Let&#039;s start working on your project
                </p>
            </div>
            <div class="col-4-ls col-4-ms">
                <a [routerLink]="['/contacts']" id="contact" class="js-open-popup-contact" >Contact Us</a>
            </div>
        </div>
    </div>
</section>
<section class="case">
    <div class="wrapper">
        <h2>More Case Studies</h2>
        <hr>
        <div class="row">
            <div class="col-4-ls col-4-ms mobileHide">
                <a [routerLink]="['/cases', 'ernstandyoung']"><img src="/assets/images/work-1.jpg" alt=""></a>
            </div>
            <div class="col-4-ls col-4-ms col-6-ss col-12-xs">
                <a [routerLink]="['/cases', 'quepro']"><img src="/assets/images/work-2.jpg" alt=""></a>
            </div>
            <div class="col-4-ls col-4-ms col-6-ss col-12-xs">
                <a [routerLink]="['/cases', 'allsquare']"><img src="/assets/images/work-3.jpg" alt=""></a>
            </div>
        </div>
    </div>
</section>
