<section class="breadcrumbs">
    <div class="wrapper">
        <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/cases']">Case studies</a></li>
            <li class="active"><a href="#">SpotNews</a></li>
        </ul>
    </div>
</section>
<section class="pageHeader spotnewsHeader">
    <div class="wrapper vc-container">
        <div class="block vc-block">
            <h1>SpotNews</h1>
            <p>We are a software development outsourcing and outstaffing company</p>
        </div>
    </div>
</section>
<section class="aboutClient">
    <div class="wrapper">
        <img src="/assets/images/icon/s_people.svg" alt="">
        <h2>About the Client</h2>
        <p>The news streaming streaming service that incorporates an incredible spotify player. Our design team has assembled an intuitive interface for the Spotify player while managing to add more specific functionality.</p>
        <p>The key idea of the application is to create a spotify player that would keep the user updated of all the news that he or she would subscribe to.</p>
        <p>The users also had to receive the possibility to subscribe to the news categories and specific news stations to be able to listen to the news of current interest. The users also needed to be able to set the specific times when the news should air within their player.</p>
        <p>Basically, the SpotNews is the new kind of media medium that is capable of mass personalization of the preferred media consumption. </p>
    </div>
</section>
<section class="challenge">
    <div class="wrapper">
        <h2>The Challenge</h2>
        <hr>
        <p>Create a mobile news audio streaming platform and incorporate the Spotify player within the application. The client also requested an admin panel for the news stations.</p>
        <p>The initial version of the application had to be done on Android mobile platform.</p>
    </div>
</section>
<section class="techUsed">
    <div class="wrapper">
        <h2>Technologies used</h2>
        <hr>
        <div class="row">
            <div class="col-8-ls col-8-ms col-8-ss container">
                <div class="row">
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/android.svg" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/mind.svg" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/silex.svg" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/bower.svg" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/grunt.svg" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/requ.svg" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/php.svg" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/mysql.svg" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/twig.svg" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/memcached.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="solution">
    <div class="wrapper">
        <h2>Our Solution</h2>
        <hr>
        <p>We were able to deliver a solution that would comly with all the client's requirements. The development team had to use the Spotify API to be able to leverage the music streaming within the application.</p>
        <p>We have also created a dashboard for the news casters who would be using the application's infrastructure to stream their newscasts.</p>
    </div>
</div>
<section class="workImg spotnews"></section>
<section class="contactUs">
    <div class="wrapper">
        <div class="row">
            <div class="col-8-ls col-8-ms">
                <p>                         Let&#039;s start working on your project
                </p>
            </div>
            <div class="col-4-ls col-4-ms">
                <a [routerLink]="['/contacts']" id="contact" class="js-open-popup-contact" >Contact Us</a>
            </div>
        </div>
    </div>
</section>
<section class="case">
    <div class="wrapper">
        <h2>More Case Studies</h2>
        <hr>
        <div class="row">
            <div class="col-4-ls col-4-ms mobileHide">
                <a [routerLink]="['/cases', 'ernstandyoung']"><img src="/assets/images/work-1.jpg" alt=""></a>
            </div>
            <div class="col-4-ls col-4-ms col-6-ss col-12-xs">
                <a [routerLink]="['/cases', 'quepro']"><img src="/assets/images/work-2.jpg" alt=""></a>
            </div>
            <div class="col-4-ls col-4-ms col-6-ss col-12-xs">
                <a [routerLink]="['/cases', 'allsquare']"><img src="/assets/images/work-3.jpg" alt=""></a>
            </div>
        </div>
    </div>
</section>
