<header>
    <div class="wrapper">
        <a [routerLink]="['/']"><img src="https://bots.directory/images/logo.png" alt="Mindpark" class="logoHeader"></a>
        <a [routerLink]="['/contacts']" id="request" class="js-open-popup-contact">Request quote</a>
        <nav id="nav">
            <ul>
                <li><a [routerLinkActive]="'active'" [routerLink]="['/']" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
                <li><a [routerLinkActive]="'active'" [routerLink]="['/about-us']">About us</a></li>
                <li><a [routerLinkActive]="'active'" [routerLink]="['/services']">Our services</a></li>
                <li><a [routerLinkActive]="'active'" [routerLink]="['/cases']">Case studies</a></li>
                <li><a [routerLinkActive]="'active'" [routerLink]="['/blog']">Blog</a></li>
                <li><a [routerLinkActive]="'active'" [routerLink]="['/w-recie-in-t-enh-inets']">W recie in’t enh inets</a></li>
            </ul>
        </nav>
    </div>
</header>
