<section class="breadcrumbs">
    <div class="wrapper">
        <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/services']">Our Services</a></li>
            <li class="active"><a href="#">PHP</a></li>
        </ul>
    </div>
</section>

<section class="pageHeader phpHeader">
    <div class="wrapper vc-container">
        <div class="block vc-block">
            <h1>PHP</h1>
            <p>We are a software development outsourcing and outstaffing company</p>
        </div>
    </div>
</section>

<section class="brief">
    <div class="wrapper">
        <img [src]="deployURL + '/assets/images/icon/s_setting.svg'" alt="">
        <p>A favored and highly desirable server side language, PHP is now used to power as many as 70 % of existing websites. This code is exceptional for those seeking web development with feature rich options. Millions of websites are now operating via PHP programming. The code is user-friendly and allows for functionality enhancement and the development of impressive websites.</p>
        <p>We create PHP web development solutions that are 100 percent unique. We can also minimize the amount of time a web project takes and simultaneously reduce costs. We follow adaptable engagement models, a substantial infrastructure for PHP development, and the leading web practices pertaining to development, all in an effort to build impressive PHP applications. Out PHP developers are experts in PHP and are at the ready to address unique app development needs, from the point of project visualization to launch, all with the goal of giving the end user an amazing experience while accessing information online.</p>
    </div>
</section>

<section class="contactUs">
    <div class="wrapper">
        <div class="row">
            <div class="col-8-ls col-8-ms">
                <p>                        Need a PHP application?
                </p>
            </div>
            <div class="col-4-ls col-4-ms">
                <a [routerLink]="['/contacts']" id="contact" class="js-open-popup-contact" >Contact Us</a>
            </div>
        </div>
    </div>
</section>
