<section class="breadcrumbs">
    <div class="wrapper">
        <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/cases']">Case studies</a></li>
            <li class="active"><a href="#">E&amp;Y</a></li>
        </ul>
    </div>
</section>
<section class="pageHeader eyHeader">
    <div class="wrapper vc-container">
        <div class="block vc-block">
            <h1>E&amp;Y</h1>
            <p>We are a software development outsourcing and outstaffing company</p>
        </div>
    </div>
</section>
<section class="aboutClient">
    <div class="wrapper">
        <img [src]="deployURL + '/assets/images/icon/s_people.svg'" alt="">
        <h2>About the Client</h2>
        <p>Ernst &amp; Young is the worlds leading provider of audit services and one of largest professional services companies in 2014. The company's staff accounts for about 190 000 employees around 150 countries in the world.</p>
    </div>
</section>
<section class="challenge">
    <div class="wrapper">
        <h2>The Challenge</h2>
        <hr>
        <p>The company's HR departments around the globe manage a very complicated hiring process. Hundreds of potential candidates are interviewed at all E&amp;Y offices around the world but only the best candidates would receive the offer. The key challenge that brought E&amp;Y to the decision of developing an app was the need for improvement of the inbound flow of job candidates.</p>
    </div>
</section>
<section class="techUsed">
    <div class="wrapper">
        <h2>Technologies used</h2>
        <hr>
        <div class="row">
            <div class="col-8-ls col-8-ms col-8-ss container">
                <div class="row">
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" [src]="deployURL + '/assets/images/tech-grey/android.svg'" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" [src]="deployURL + '/assets/images/tech-grey/mind.svg'" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" [src]="deployURL + '/assets/images/tech-grey/rest-api.svg'" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" [src]="deployURL + '/assets/images/tech-grey/silex.svg'" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" [src]="deployURL + '/assets/images/tech-grey/bower.svg'" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" [src]="deployURL + '/assets/images/tech-grey/grunt.svg'" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" [src]="deployURL + '/assets/images/tech-grey/requ.svg'" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" [src]="deployURL + '/assets/images/tech-grey/php.svg'" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" [src]="deployURL + '/assets/images/tech-grey/mysql.svg'" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="solution">
    <div class="wrapper">
        <h2>Our Solution</h2>
        <hr>
        <p>The App Solutions is achieving this goal by developing a high end B2C application targeted at potential job candidates. The app includes the information on current job openings, events, company background and other useful info that may be of much interest the potential employees. Though one of the more important features is the possibility for potential employees and trainees to contact the E&amp;Y HR representatives and initiate the recruitment process. The other important feature is the Push-notification functionality. The human resource department will be able to send push notifications on the new job openings and events to the app users via a dedicated app CMS.</p>
        <p>We are confident that the our solution would provide plenty of benefits for Ernst &amp; Young helping to cope with the presented challenges in the recruitment process.</p>
    </div>
</div>
<section class="workImg ey"></section>
<section class="contactUs">
    <div class="wrapper">
        <div class="row">
            <div class="col-8-ls col-8-ms">
                <p>                         Let&#039;s start working on your project
                </p>
            </div>
            <div class="col-4-ls col-4-ms">
                <a [routerLink]="['/contacts']" id="contact" class="js-open-popup-contact" >Contact Us</a>
            </div>
        </div>
    </div>
</section>
<section class="case">
    <div class="wrapper">
        <h2>More Case Studies</h2>
        <hr>
        <div class="row">
            <div class="col-4-ls col-4-ms mobileHide">
                <a [routerLink]="['/cases', 'ernstandyoung']"><img [src]="deployURL + '/assets/images/work-1.jpg'" alt=""></a>
            </div>
            <div class="col-4-ls col-4-ms col-6-ss col-12-xs">
                <a [routerLink]="['/cases', 'quepro']"><img [src]="deployURL + '/assets/images/work-2.jpg'" alt=""></a>
            </div>
            <div class="col-4-ls col-4-ms col-6-ss col-12-xs">
                <a [routerLink]="['/cases', 'allsquare']"><img [src]="deployURL + '/assets/images/work-3.jpg'" alt=""></a>
            </div>
        </div>
    </div>
</section>
