<section class="breadcrumbs">
    <div class="wrapper">
        <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/services']">Our Services</a></li>
            <li class="active"><a href="#">iOS</a></li>
        </ul>
    </div>
</section>

<section class="pageHeader iosHeader">
    <div class="wrapper vc-container">
        <div class="block vc-block">
            <h1>iOS</h1>
            <p>We are a software development outsourcing and outstaffing company</p>
        </div>
    </div>
</section>

<section class="brief">
    <div class="wrapper">
        <img [src]="deployURL + '/assets/images/icon/s_setting.svg'" alt="">
        <p>We offer you all the strategizing and planning you need to get an iOS app developed with considerable ease. We are ready to consult you about the latest offerings in mobile technologies, and are at the ready to develop a plan to help bring your application to life.</p>
    </div>
</section>

<section class="feautures">
    <div class="wrapper">
        <h2>Hybrid vs. Native iOS App Creation</h2>
        <hr>
        <p>Objective-C is the native language for iPhone app programming as well as Swift. Both languages can be used to create apps for the iPad and iPhone. Native apps, no matter what the platform, offer better app performance. However, native apps take longer to create, whereas making use of hybrid developing methods, where apps are developed with JavaScript, CSS, and HTML, and then put it into a native app by using Cordova and other resources, proves to be a faster method for app development.</p>
    </div>
</section>

<section class="contactUs">
    <div class="wrapper">
        <div class="row">
            <div class="col-8-ls col-8-ms">
                <p>                        Need an iOS application?
                </p>
            </div>
            <div class="col-4-ls col-4-ms">
                <a [routerLink]="['/contacts']" id="contact" class="js-open-popup-contact" >Contact Us</a>
            </div>
        </div>
    </div>
</section>
