<section class="breadcrumbs">
    <div class="wrapper">
        <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/services']">Our Services</a></li>
            <li class="active"><a href="#">Software product development</a></li>
        </ul>
    </div>
</section>

<section class="pageHeader softDev">
    <div class="wrapper vc-container">
        <div class="block vc-block">
            <h1>Software product development</h1>
            <p>For your long term software development projects</p>
        </div>
    </div>
</section>

<section class="content">
    <div class="wrapper">
        <p>MindPark serves as and SPD (software product development) service provider and is a full-cycle provider ready to support the evolution of you product at any stage in its development. From conception to project execution to sustaining and the long-term maintenance of your product, we are prepared to empower our clients.</p>
        <p>We consider Business Analysis in Software Product Development as a separate and distinct skill, aimed at the facilitation and extension of capabilities for your product management endeavors. This allows for the manager of your project to control the scalability of your project and to ensure that focus remains on the critical elements, all while refraining from information overload from multiple users and/or products, tasks, and/or requirements.</p>
        <p>We have an independent Quality Assurance Department responsible for handling all QA functions. The sole responsibility of the QA department is to ensure product quality in every regard. The QA Department remains entirely independent and separate from the development team and this allows the client to receive a fair and adequate quality assessment.</p>
        <p>MindPark presently has a quality delivery center in Kiev, Ukraine. The flexible, flat, and well-distributed structure of our organization affords us communication excellence between our team and our client's team; all while enhancing the proficiency and diminishing the complex issues that may arise from QA teams under the direct management of remote sites and staff.</p>
        <p>We have a service-based model that is focused and strong. We build our work around our strengths and being focused is and remains one of our company's most important principles. Our strong focus and business model are in place to keep our clients safe from unfair and unethical competition practices. We insist on having a strong infrastructure, company standards, and equally strong corporate policies, all of which are in place for the purposes of keeping our client's intellectual property secure.</p>
    </div>
</section>

<section class="benefit">
    <div class="wrapper">
        <h2>Key Engagement Scenarios</h2>
        <hr>
        <div class="row">
            <section class="col-6-ls col-6-ms col-6-ss block">
                <h3>Customer's In-house Team Expansion</h3>
                <p>In this scenario, the client already has a selected team and clearly defined processes; however, the client is seeking to maximize their business's development capabilities.</p>
                <p>Here, we would give a complete and in-depth analysis of the client's processes and look for ways to optimize the existing methods of operation. We then assign a team of professionals that is entirely scalable when necessary. A product development manager from our client's company will be responsible for the coordination.</p>
            </section>
            <section class="col-6-ls col-6-ms col-6-ss block">
                <h3>Independent QA and Testing</h3>
                <p>In this imagining, our client needs an independent quality assurance and testing implemented to determine product quality. We are capable of supplying a specify QA test or a full cycle QA solution: the choice is up to you.</p>
                <p>If you do not have an issue tracking system in place that we can work with, we will help you build one to ensure transparent and open communications. If you have an in-house Quality Assurance team, we can work with them or we are more than happy to work with your development team as well.</p>
            </section>
        </div>
        <div class="row">
            <section class="col-6-ls col-6-ms col-6-ss block">
                <h3>Full Cycle Product Development</h3>
                <p>In this scenario, our client has an idea that they want executed and delivered to the correct market. Our team will come in and assist our client in defining a budget, team assignment tasks and our services will be correctly integrated with your marketing teams and product manager.</p>
            </section>
            <section class="col-6-ls col-6-ms col-6-ss block">
                <h3>Project Rescue</h3>
                <p>If you have a product that is only partially completed and you want it finished but you are faced with ultra-tight deadlines, we can help. Even if some source code is missing or you do not have all of the documentation in place, we can assess the product, analyze your situation, and provide you with a realistic plan for accomplishing the completion of your product.</p>
            </section>
        </div>
    </div>
</section>

<section class="contactUs">
    <div class="wrapper">
        <div class="row">
            <div class="col-8-ls col-8-ms">
                <p>                        Need a dedicated development center?
                </p>
            </div>
            <div class="col-4-ls col-4-ms">
                <a [routerLink]="['/contacts']" id="contact" class="js-open-popup-contact" >Contact Us</a>
            </div>
        </div>
    </div>
</section>

<section class="devcenter">
    <div class="wrapper">
        <h2>Our Development Center</h2>
        <hr>
        <div class="row">
            <div class="col-4-ls col-4-ms col-6-ss col-12-xs">
                <img [src]="deployURL + '/assets/images/devcenter-1.jpg'" alt="">
            </div>
            <div class="col-4-ls col-4-ms col-6-ss col-12-xs">
                <img [src]="deployURL + '/assets/images/devcenter-2.jpg'" alt="">
            </div>
            <div class="col-4-ls col-4-ms mobileHide">
                <img [src]="deployURL + '/assets/images/devcenter-3.jpg'" alt="">
            </div>
        </div>
    </div>
</section>
