<section class="breadcrumbs">
    <div class="wrapper">
        <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/services/']">Our Services</a></li>
            <li class="active"><a href="#">Software Quality Assurance</a></li>
        </ul>
    </div>
</section>

<section class="pageHeader softQA">
    <div class="wrapper vc-container">
        <div class="block vc-block">
            <h1>Software Quality Assurance</h1>
            <p>Independent testing means quality</p>
        </div>
    </div>
</section>

<section class="content">
    <div class="wrapper">
        <p>We house over 50 Quality Assurance Engineers, all of who work for our QA and software testing department. Our QA department remains an independent division within our group, and our engineers have completed more than 40 QA projects successfully. We have integrated and standalone testing solutions which we deliver to our clients from large corporations to software product startups. We have a deep understanding of your business applications and goals, allowing us to offer exceptional QA assurance.</p>
        <h2>Independent Quality Assurance offers a threefold benefit</h2>
        <hr>
        <section class="row">
            <section class="col-4-ls col-4-ms col-4-ss block">
                <img [src]="deployURL + '/assets/images/icon/done.svg'" alt="">
                <p>Easy, fast evaluation<br>of product's compliance</p>
            </section>
            <section class="col-4-ls col-4-ms col-4-ss block">
                <img [src]="deployURL + '/assets/images/icon/done.svg'" alt="">
                <p>Improved quality control<br>of an application</p>
            </section>
            <section class="col-4-ls col-4-ms col-4-ss block">
                <img [src]="deployURL + '/assets/images/icon/done.svg'" alt="">
                <p>Insight into user impressions<br>of the product</p>
            </section>
        </section>
    </div>
</section>

<section class="note">
    <div class="wrapper">
        <p>Our QA Department applies RUP (Agile and Rational Unified Process) best practices in an effort to ensure we deliver quality work and to reduce the time to market for our client's software products. We do everything to ensure a satisfactory and timely launch of a product in them most efficient manner and to benefit our client.</p>
    </div>
</section>

<section class="qaServices">
    <div class="wrapper">
        <h2>Quality Assurance Services We Offer includes</h2>
        <hr>
        <div class="row">
            <section class="col-4-ls col-4-ms col-6-ss col-12-xs block">
                <h3>Documentation</h3>
                <p>We deliver concise, properly structured documentation for a variety of niche audiences.</p>
            </section>
            <section class="col-4-ls col-4-ms col-6-ss col-12-xs block">
                <h3>Full-Cycle QA</h3>
                <p>Our QA services are full cycle and make a natural progression from product analysis, development, implementation, sustaining/maintenance, and other solutions.</p>
            </section>
            <section class="col-4-ls col-4-ms col-6-ss col-12-xs block">
                <h3>Pre-Certification and Compliance</h3>
                <p>We deliver and meet compliance testing, pre-certification and PCI, Section 508, DSS, and European as well as United Kingdom accessibility standards.</p>
            </section>
            <section class="col-4-ls col-4-ms col-6-ss col-12-xs block">
                <h3>QA Consulting</h3>
                <p>We analyze your project and supply you with fact-based, experience-oriented solutions and recommendations for improvement.</p>
            </section>
            <section class="col-4-ls col-4-ms col-6-ss col-12-xs block">
                <h3>Software Testing</h3>
                <p>As part of our testing services, we create a mix of every application. The mix includes server side systems, mobile apps, desktop, and Web. This allows us to ensure a greater degree of product consistency.</p>
            </section>
            <section class="col-4-ls col-4-ms col-6-ss col-12-xs block">
                <h3>Test Automation</h3>
                <p>We develop customized testing solutions and we offer out of the box automation selection. In doing so, we can establish the best mix of infrastructure, technology, and goals.</p>
            </section>
        </div>
    </div>
</section>

<section class="contactUs">
    <div class="wrapper">
        <div class="row">
            <div class="col-8-ls col-8-ms">
                <p>                        Need a dedicated development center?
                </p>
            </div>
            <div class="col-4-ls col-4-ms">
                <a [routerLink]="['/contacts']" id="contact" class="js-open-popup-contact" >Contact Us</a>
            </div>
        </div>
    </div>
</section>

<section class="devcenter">
    <div class="wrapper">
        <h2>Our Development Center</h2>
        <hr>
        <div class="row">
            <div class="col-4-ls col-4-ms col-6-ss col-12-xs">
                <img [src]="deployURL + '/assets/images/devcenter-1.jpg'" alt="">
            </div>
            <div class="col-4-ls col-4-ms col-6-ss col-12-xs">
                <img [src]="deployURL + '/assets/images/devcenter-2.jpg'" alt="">
            </div>
            <div class="col-4-ls col-4-ms mobileHide">
                <img [src]="deployURL + '/assets/images/devcenter-3.jpg'" alt="">
            </div>
        </div>
    </div>
</section>
