<section class="breadcrumbs">
    <div class="wrapper">
        <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/services']">Our Services</a></li>
            <li class="active"><a href="#">Scala</a></li>
        </ul>
    </div>
</section>

<section class="pageHeader scalaHeader">
    <div class="wrapper vc-container">
        <div class="block vc-block">
            <h1>Scala</h1>
            <p>We are a software development outsourcing and outstaffing company</p>
        </div>
    </div>
</section>

<section class="brief">
    <div class="wrapper">
        <img src="/assets/images/icon/s_setting.svg" alt="">
        <p>Scala is a solid static type system and it is a language used for programming software apps. When a program is written in this language it is written concisely and therefore allows for a code that is smaller when compared to other programming language produced codes.</p>
        <p>Interestingly, issues with Java are what serve as the inspiration behind Scala. Many companies turn to the use of Scala for the purposes of creating high-quality commercial production systems and software. Just a few remarkable examples include companies like Xerox, Xebia, Twitter, Thatcham, Sony, Siemens, Reaktor, OPower, Novell, LinkedIn, Guardian, GridGain, FourSquare, EDFT, and AppJet. Scala has increased ten times over the prior year and is a reliable production programming language.</p>
        <p>Java is also a stable, secure, and independent platform serving as an open source, so it is no surprise that Java is used in many software development projects. "Java is law," as the rule goes in the land of the Internet, business solutions, and mobile apps.</p>
        <p>With Java's advanced security features and its stable, platform independent, open source nature, it is widely used in software development. In the land of web, mobile and business solutions, Java is the law. No matter what level of difficulty, or the area of application, we have developers with skills in Java and we offer exceptional services. You can count on our linguistic and technical skills and our experience in developing well-tuned processes, as we identify and meet your business needs.</p>

    </div>
</section>

<section class="areas large">
    <div class="wrapper">
        <h2>Some of the vital areas of application for our projects include:</h2>
        <hr>
        <section class="row">
            <section class="col-4-ls col-4-ms col-4-ss block">
                <img src="/assets/images/icon/done.svg" alt="">
                <p>Backup solutions</p>
            </section>
            <section class="col-4-ls col-4-ms col-4-ss block">
                <img src="/assets/images/icon/done.svg" alt="">
                <p>CAD system integration</p>
            </section>
            <section class="col-4-ls col-4-ms col-4-ss block">
                <img src="/assets/images/icon/done.svg" alt="">
                <p>CRM systems</p>
            </section>
            <section class="col-4-ls col-4-ms col-4-ss block">
                <img src="/assets/images/icon/done.svg" alt="">
                <p>Documentation</p>
            </section>
            <section class="col-4-ls col-4-ms col-4-ss block">
                <img src="/assets/images/icon/done.svg" alt="">
                <p>Financial reporting</p>
            </section>
            <section class="col-4-ls col-4-ms col-4-ss block">
                <img src="/assets/images/icon/done.svg" alt="">
                <p>Full featured financial applications</p>
            </section>
            <section class="col-4-ls col-4-ms col-4-ss block">
                <img src="/assets/images/icon/done.svg" alt="">
                <p>Identity management</p>
            </section>
            <section class="col-4-ls col-4-ms col-4-ss block">
                <img src="/assets/images/icon/done.svg" alt="">
                <p>In app payment solutions</p>
            </section>
            <section class="col-4-ls col-4-ms col-4-ss block">
                <img src="/assets/images/icon/done.svg" alt="">
                <p>Keyword search systems</p>
            </section>
            <section class="col-4-ls col-4-ms col-4-ss block">
                <img src="/assets/images/icon/done.svg" alt="">
                <p>Production planning</p>
            </section>
            <section class="col-4-ls col-4-ms col-4-ss block">
                <img src="/assets/images/icon/done.svg" alt="">
                <p>Vehicle part lifecycle tracking</p>
            </section>
            <section class="col-4-ls col-4-ms col-4-ss block">
                <img src="/assets/images/icon/done.svg" alt="">
                <p>Work order management</p>
            </section>
        </section>
    </div>
</section>

<section class="contactUs">
    <div class="wrapper">
        <div class="row">
            <div class="col-8-ls col-8-ms">
                <p>                        Need a solution on Scala?
                </p>
            </div>
            <div class="col-4-ls col-4-ms">
                <a [routerLink]="['/contacts']" id="contact" class="js-open-popup-contact" >Contact Us</a>
            </div>
        </div>
    </div>
</section>
