<section class="breadcrumbs">
    <div class="wrapper">
        <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/services']">Our Services</a></li>
            <li class="active"><a href="#">Windows</a></li>
        </ul>
    </div>
</section>

<section class="pageHeader windowsHeader">
    <div class="wrapper vc-container">
        <div class="block vc-block">
            <h1>Windows</h1>
            <p>We are a software development outsourcing and outstaffing company</p>
        </div>
    </div>
</section>

<section class="brief">
    <div class="wrapper">
        <img src="/assets/images/icon/s_setting.svg" alt="">
        <p>Windows software is in high demand, and it is a widely used operating system. More Windows OS devices are making their way to the market as well. We are experts at developing Windows applications whether for the server side or desktop. We can create software for a variety of Windows operating systems, including 7, 8, and XP, and older variants. We have experienced developers with skills and experience related to Windows Service, C#, C++, and NET. We are happy to establish new features for apps you already have, create new apps, or upgrade and migrate existing apps compatible with Windows OS systems.</p>
    </div>
</section>

<section class="contactUs">
    <div class="wrapper">
        <div class="row">
            <div class="col-8-ls col-8-ms">
                <p>                        Need a Windows application?
                </p>
            </div>
            <div class="col-4-ls col-4-ms">
                <a [routerLink]="['/contacts']" id="contact" class="js-open-popup-contact" >Contact Us</a>
            </div>
        </div>
    </div>
</section>
