<section class="breadcrumbs">
    <div class="wrapper">
        <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/cases']">Case studies</a></li>
            <li class="active"><a href="#">QuePro</a></li>
        </ul>
    </div>
</section>
<section class="pageHeader queproHeader">
    <div class="wrapper vc-container">
        <div class="block vc-block">
            <h1>QuePro</h1>
            <p>We are a software development outsourcing and outstaffing company</p>
        </div>
    </div>
</section>
<section class="aboutClient">
    <div class="wrapper">
        <img src="/assets/images/icon/s_people.svg" alt="">
        <h2>About the Client</h2>
        <p>The app idea is based on the Questions&amp;Answers functionality. The main objective of the application's business is formed around the engagement of users who need to find answers to their questions quickly and users who are competent enough in their field to be able to answer those queries.</p>
    </div>
</section>
<section class="challenge">
    <div class="wrapper">
        <h2>The Challenge</h2>
        <hr>
        <p>Being a mobile-first product, QuePro required a solid UX/UI strategy and implementation with the help of a strong code foundation that would allow for scaling and adding more functionality in the future.</p>
    </div>
</section>
<section class="techUsed">
    <div class="wrapper">
        <h2>Technologies used</h2>
        <hr>
        <div class="row">
            <div class="col-8-ls col-8-ms col-8-ss container">
                <div class="row">
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/ios.svg" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/mind.svg" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/silex.svg" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/bower.svg" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/grunt.svg" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/requ.svg" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/php.svg" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/mysql.svg" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/twig.svg" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/memcached.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="solution">
    <div class="wrapper">
        <h2>Our Solution</h2>
        <hr>
        <p>We were able to produce a sustainable design for the application as well as finish the application's development part.</p>
        <p>The development part included a big chunk of work. </p>
        <p>The application had to go through a process of rigorous testing in order to provide a stable experience flow for the users and thus ensuring higher engagement rates within the app. Our QA team had to work through a huge set of use cases and scenarios to make sure that the application is working flawlessly and indeed helps users. </p>
    </div>
</div>
<section class="contactUs">
    <div class="wrapper">
        <div class="row">
            <div class="col-8-ls col-8-ms">
                <p>                        Let&#039;s start working on your project
                </p>
            </div>
            <div class="col-4-ls col-4-ms">
                <a [routerLink]="['/contacts']" id="contact" class="js-open-popup-contact" >Contact Us</a>
            </div>
        </div>
    </div>
</section>
<section class="case">
    <div class="wrapper">
        <h2>More Case Studies</h2>
        <hr>
        <div class="row">
            <div class="col-4-ls col-4-ms mobileHide">
                <a [routerLink]="['/cases', 'ernstandyoung']"><img src="/assets/images/work-1.jpg" alt=""></a>
            </div>
            <div class="col-4-ls col-4-ms col-6-ss col-12-xs">
                <a [routerLink]="['/cases', 'quepro']"><img src="/assets/images/work-2.jpg" alt=""></a>
            </div>
            <div class="col-4-ls col-4-ms col-6-ss col-12-xs">
                <a [routerLink]="['/cases', 'allsquare']"><img src="/assets/images/work-3.jpg" alt=""></a>
            </div>
        </div>
    </div>
</section>
