<footer class="footer">
    <div class="wrapper">
        <div class="row">
            <section class="col-2-ls col-2-ms mobileHide">
                <h4>About company</h4>
                <ul>
                    <li><a [routerLink]="['/']">Home</a></li>
                    <li><a [routerLink]="['/about-us']">About Us</a></li>
                    <li><a [routerLink]="['/services']">Our Services</a></li>
                    <li><a [routerLink]="['/contacts']">Contacts</a></li>
                </ul>
            </section>
            <section class="col-2-ls col-2-ms mobileHide">
                <h4>Case studies</h4>
                <ul>
                    <li><a [routerLink]="['/cases', 'ernstandyoung']">E&amp;Y</a></li>
                    <li><a [routerLink]="['/cases', 'allsquare']">AllSquare</a></li>
                    <li><a [routerLink]="['/cases', 'skimdoc']">SkimDoc</a></li>
                    <li><a [routerLink]="['/cases', 'shopbeam']">Shopbeam</a></li>
                    <li><a [routerLink]="['/cases', 'quepro']">QuePro</a></li>
                    <li><a [routerLink]="['/cases', 'spotnews']">Spot News</a></li>
                </ul>
            </section>
            <section class="col-2-ls col-2-ms col-4-ss hide-xs">
                <h4>Services</h4>
                <ul>
                    <li><a [routerLink]="['/services', 'softproto']">Prototyping</a></li>
                    <li><a [routerLink]="['/services', 'dedicateddev']">Dedicated Dev. Centers</a></li>
                    <li><a [routerLink]="['/services', 'softdev']">Software Product Dev.</a></li>
                    <li><a [routerLink]="['/services', 'softqa']">Software QA and Testing</a></li>
                    <li><a [routerLink]="['/services', 'devaudit']">Software Dev. audit</a></li>
                    <li><a [routerLink]="['/services', 'maintenance']">Maintenance and Support</a></li>
                </ul>
            </section>
            <section class="col-2-ls col-2-ms mobileHide">
                <h4>Technologies</h4>
                <ul>
                    <li><a [routerLink]="['/technologies', 'htmlcss']">HTML5</a></li>
                    <li><a [routerLink]="['/technologies', 'java']">Java</a></li>
                    <li><a [routerLink]="['/technologies', 'php']">PHP</a></li>
                    <li><a [routerLink]="['/technologies', 'python']">Python</a></li>
                    <li><a [routerLink]="['/technologies', 'ruby']">Ruby on Rails</a></li>
                    <li><a [routerLink]="['/technologies', 'c']">C++</a></li>
                </ul>
            </section>

            <section class="col-2-ls col-2-ms col-4-ss col-12-xs">
                <h4>Headquarters</h4>
                <p>4, Donska Str.<br>Kyiv, 01001<br>Ukraine</p>
                <a class="mail" href="mailto:sales@themindpark.com">sales@themindpark.com</a>

                <h4 class="app-partner-title">App Development Partner</h4>
                <a class="app-partner-link" target="_blank" href="http://theappsolutions.com">theappsolutions.com</a>
            </section>
        </div>
    </div>
    <section class="copy">
        <p>&copy; 2015 MindPark. All rights reserved.</p>
    </section>
</footer>
