<section class="breadcrumbs">
    <div class="wrapper">
        <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/services']">Our Services</a></li>
            <li class="active"><a href="#">Android</a></li>
        </ul>
    </div>
</section>

<section class="pageHeader androidHeader">
    <div class="wrapper vc-container">
        <div class="block vc-block">
            <h1>Android</h1>
            <p>We are a software development outsourcing and outstaffing company</p>
        </div>
    </div>
</section>

<section class="brief">
    <div class="wrapper">
        <img src="/assets/images/icon/s_setting.svg" alt="">
        <p>Another open platform, Android is used as an operating system on some mobile devices. This operating system is flexible, has few issues, and a number of manufacturers sport the Android OS.</p>
        <p>No matter what platform you desire, we can help guide you in terms of the best direction to take in order to present your mobile applications. We examine your goals, whether it is to increase your bottom line, optimize your services, spread your business brand, or improve communications, and we design a map of sorts – a blueprint to your goals.</p>
    </div>
</section>

<section class="contactUs">
    <div class="wrapper">
        <div class="row">
            <div class="col-8-ls col-8-ms">
                <p>                        Need an Android application?
                </p>
            </div>
            <div class="col-4-ls col-4-ms">
                <a [routerLink]="['/contacts']" id="contact" class="js-open-popup-contact" >Contact Us</a>
            </div>
        </div>
    </div>
</section>
