<section class="breadcrumbs">
    <div class="wrapper">
        <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/services']">Our Services</a></li>
            <li class="active"><a href="#">Python</a></li>
        </ul>
    </div>
</section>

<section class="pageHeader pythonHeader">
    <div class="wrapper vc-container">
        <div class="block vc-block">
            <h1>Python</h1>
            <p>We are a software development outsourcing and outstaffing company</p>
        </div>
    </div>
</section>

<section class="brief">
    <div class="wrapper">
        <img src="/assets/images/icon/s_setting.svg" alt="">
        <p>We have developers skilled with working within Python web frameworks. This programming language is object oriented and used a good deal for the purposes of web development. You will find Python is the preferred tool of a number of commercial and open source projects. We can use Python to establish applications with a flawless security record and one that delivers an equally high-quality performance. We utilize Python-based frameworks to establish an exceptional web development environment, including:</p>
    </div>
</section>

<section class="feautures">
    <div class="wrapper">
        <h2>Django</h2>
        <hr>
        <p> A web development application intended to save time and stress. The program is known for its speedy performance and ease of use.</p>
    </div>
</section>

<section class="feautures white">
    <div class="wrapper">
        <h2>Pyramid</h2>
        <hr>
        <p>Part of the Pylons Project is an adaptable web app framework established to secure reliable and speedy performance. Some features within the framework include things like caching modules, session modules, email, and an XML-RPC package. Pyramid comes with minimum hassles and maximized efficiency.</p>
    </div>
</section>

<section class="feautures">
    <div class="wrapper">
        <h2>TurboGears</h2>
        <hr>
        <p>TurboGears is a framework established through a collection of other resources, including Cherrypy, SQLObject, MochiKit Ajax Library, and Kid templating.</p>
    </div>
</section>

<section class="feautures white">
    <div class="wrapper">
        <h2>Zope</h2>
        <hr>
        <p>Is a program used for establishing secure frameworks and is ideal for content management system development.</p>
    </div>
</section>

<section class="contactUs">
    <div class="wrapper">
        <div class="row">
            <div class="col-8-ls col-8-ms">
                <p>                        Need an application built on Python?
                </p>
            </div>
            <div class="col-4-ls col-4-ms">
                <a [routerLink]="['/contacts']" id="contact" class="js-open-popup-contact" >Contact Us</a>
            </div>
        </div>
    </div>
</section>
