<section class="banner">
    <div class="wrapper vc-container">
        <div class="block vc-block">
            <!--<h1 class="title">Trusted offshore software development partner</h1>-->
            <!--<h1 class="title">ursTedotrii hrffos sftwr mentodevlpa prtnir</h1>-->
            <h1 class="title">Nrot ni Owt - Gnikaerb Nimajneb - Rebme</h1>
            <a [routerLink]="['/contacts']" id="contact" class="js-open-popup-contact" >Contact Us</a>
        </div>
    </div>
</section>

<section class="about">
    <div class="wrapper">
        <div class="row">
            <section class="col-4-ls col-4-ms col-12-ss block">
                <h3>Who we are?</h3>
                <p>MindPark creates full-time teams based on a pre-existing IT infrastructure. Our teams remain at-the-ready to acquiesce to a client's specific requests.</p>
                <p>Throughout a project, the client receives the flex-ibility to request project changes and instigate priority shifts in an active project.</p>
            </section>
            <section class="col-4-ls col-4-ms col-12-ss block">
                <h3>What we do?</h3>
                <p>MindPark's professional teams are ready to guide your proprietary software through a sequence of releases, all while remaining dedicated to the long-term development plan. </p>
                <p>With your project, functionality enhancement is assured, and the team supplies end-user support on several levels.</p>
            </section>
            <section class="col-4-ls col-4-ms col-12-ss block">
                <h3>Why choose us?</h3>
                <p>MindPark gives companies access to our incredible development team. </p>
                <p>We also put specific methodologies, practices, and tools into action in an effort to suit the demand for expertise, particularly those that are domain specific, and the demand for provisional resources as required.</p>
            </section>
        </div>
    </div>
</section>

<section class="clients">
    <div class="wrapper">
        <h2>Our Clients</h2>
        <hr>
        <div class="row">
            <div class="col-2_4-ls col-2_4-ms col-3-ss client col-6-xs vc-container"
                [style.background-image]="'url(/assets/images/logo/novytec.png)'">
            </div>
            <div class="col-2_4-ls col-2_4-ms col-3-ss client col-6-xs vc-container"
                [style.background-image]="'url(/assets/images/logo/jeapie.png)'">
            </div>
            <div class="col-2_4-ls col-2_4-ms col-3-ss client col-6-xs vc-container"
                [style.background-image]="'url(/assets/images/logo/steinbeis.png)'">
            </div>
            <div class="col-2_4-ls col-2_4-ms col-3-ss client col-6-xs vc-container"
                [style.background-image]="'url(/assets/images/logo/skimdoc.png)'">
            </div>
            <div class="col-2_4-ls col-2_4-ms col-3-ss client col-6-xs vc-container"
                [style.background-image]="'url(/assets/images/logo/shopbeam.png)'">
            </div>
            <div class="col-2_4-ls col-2_4-ms col-3-ss client col-6-xs vc-container"
                [style.background-image]="'url(/assets/images/logo/digital-bee.png)'">
            </div>
            <div class="col-2_4-ls col-2_4-ms col-3-ss client col-6-xs vc-container"
                [style.background-image]="'url(/assets/images/logo/ey-building-a-better-working-world.png)'">
            </div>
            <div class="col-2_4-ls col-2_4-ms col-3-ss client col-6-xs vc-container"
                [style.background-image]="'url(/assets/images/logo/nuwbii.png)'">
            </div>
            <div class="col-2_4-ls col-2_4-ms col-3-ss client col-6-xs vc-container"
                [style.background-image]="'url(/assets/images/logo/digital-future.png)'">
            </div>
            <div class="col-2_4-ls col-2_4-ms col-3-ss client col-6-xs vc-container"
                [style.background-image]="'url(/assets/images/logo/nravo.png)'">
            </div>
        </div>
    </div>
</section>

<section class="workIn">
    <div class="wrapper">
        <h2>Industries we work in</h2>
        <hr>
        <div class="row">
            <section class="col-4-ls col-4-ms col-6-ss col-12-xs block">
                <h3>Enterprise</h3>
                <p>We deliver variuos Enterprise solutions to our clients including Enterprise portals, Document Management systems, BI solutions, custom CRM solutions, Content Management and ERP soutions</p>
            </section>
            <section class="col-4-ls col-4-ms col-6-ss col-12-xs block">
                <h3>Healthcare</h3>
                <p>In most cases healthcare solutions presume complex and  large projects, that involve com-pound data administration systems, backend processing, and communication solutions.</p>
            </section>
            <section class="col-4-ls col-4-ms col-6-ss col-12-xs block">
                <h3>E-commerce</h3>
                <p>Ecommerce projects are a huge part of our company's history. The projects included the e-commerce platform development, content managementy systems and mobile commerce applications.</p>
            </section>
            <section class="col-4-ls col-4-ms col-6-ss col-12-xs block">
                <h3>Media</h3>
                <p>Media applications are becoming a big part of the business as the consumers are getting a hold of the latest digital technology and their media consuming patterns are changing.</p>
            </section>
            <section class="col-4-ls col-4-ms col-6-ss col-12-xs block">
                <h3>Startups</h3>
                <p>We have successfully cooperated with miscella-neous startups on R&amp;D projects, Software de-velopment and testing projects, always ensuring the quick and scalable delivery.</p>
            </section>
            <section class="col-4-ls col-4-ms col-6-ss col-12-xs block">
                <h3>IoT</h3>
                <p>IoT is the big tech trend that is growing expo-nentially in terms of products that are being produced because it helps solve everyday prob-lems. In the meantime, we help our clients deliver their IoT solutions to the markets.</p>
            </section>
        </div>
    </div>
</section>

<section class="techlist">
    <div class="wrapper">
        <h2>Technologies list</h2>
        <hr>
        <div class="row">
            <div class="col-2-ls col-2-ms col-3-ss col-6-xs">
                <section class="block">
                    <a [routerLink]="['/technologies', 'ruby']">
                        <div class="vc-container" [style.background-image]="'url(/assets/images/tech/ruby.png)'"></div>
                        <p>Ruby</p>
                    </a>
                </section>
            </div>
            <div class="col-2-ls col-2-ms col-3-ss col-6-xs">
                <section class="block">
                    <a [routerLink]="['/technologies', 'java']">
                        <div class="vc-container" [style.background-image]="'url(/assets/images/tech/java.png)'"></div>
                        <p>Java</p>
                    </a>
                </section>
            </div>
            <div class="col-2-ls col-2-ms col-3-ss col-6-xs">
                <section class="block">
                    <a [routerLink]="['/technologies', 'scala']">
                        <div class="vc-container" [style.background-image]="'url(/assets/images/tech/scala.png)'"></div>
                        <p>Scala</p>
                    </a>
                </section>
            </div>
            <div class="col-2-ls col-2-ms col-3-ss col-6-xs">
                <section class="block">
                    <a [routerLink]="['/technologies', 'c']">
                        <div class="vc-container" [style.background-image]="'url(/assets/images/tech/sharp.png)'"></div>
                        <p>C/C++</p>
                    </a>
                </section>
            </div>
            <div class="col-2-ls col-2-ms col-3-ss col-6-xs">
                <section class="block">
                    <a [routerLink]="['/technologies', 'htmlcss']">
                        <div class="vc-container" [style.background-image]="'url(/assets/images/tech/html5.png)'"></div>
                        <p>HTML5</p>
                    </a>
                </section>
            </div>
            <div class="col-2-ls col-2-ms col-3-ss col-6-xs">
                <section class="block">
                    <a [routerLink]="['/technologies', 'python']">
                        <div class="vc-container" [style.background-image]="'url(/assets/images/tech/python.png)'"></div>
                        <p>Python</p>
                    </a>
                </section>
            </div>
            <div class="col-2-ls col-2-ms col-3-ss col-6-xs">
                <section class="block">
                    <a [routerLink]="['/technologies', 'php']">
                        <div class="vc-container" [style.background-image]="'url(/assets/images/tech/php.png)'"></div>
                        <p>PHP</p>
                    </a>
                </section>
            </div>
            <div class="col-2-ls col-2-ms col-3-ss col-6-xs">
                <section class="block">
                    <a [routerLink]="['/technologies', 'android']">
                        <div class="vc-container" [style.background-image]="'url(/assets/images/tech/android.png)'"></div>
                        <p>Android</p>
                    </a>
                </section>
            </div>
            <div class="col-2-ls col-2-ms col-3-ss col-6-xs">
                <section class="block">
                    <a [routerLink]="['/technologies', 'osx']">
                        <div class="vc-container" [style.background-image]="'url(/assets/images/tech/apple.png)'"></div>
                        <p>OS X</p>
                    </a>
                </section>
            </div>
            <div class="col-2-ls col-2-ms col-3-ss col-6-xs">
                <section class="block">
                    <a [routerLink]="['/technologies', 'ios']">
                        <div class="vc-container" [style.background-image]="'url(/assets/images/tech/ios.png)'"></div>
                        <p>iOS</p>
                    </a>
                </section>
            </div>
            <div class="col-2-ls col-2-ms col-3-ss col-6-xs">
                <section class="block">
                    <a [routerLink]="['/technologies', 'javascript']">
                        <div class="vc-container" [style.background-image]="'url(/assets/images/tech/js.png)'"></div>
                        <p>Javascript</p>
                    </a>
                </section>
            </div>
            <div class="col-2-ls col-2-ms col-3-ss col-6-xs">
                <section class="block">
                    <a [routerLink]="['/technologies', 'windows']">
                        <div class="vc-container" [style.background-image]="'url(/assets/images/tech/win.png)'"></div>
                        <p>Windows</p>
                    </a>
                </section>
            </div>
        </div>
    </div>
</section>

<section class="case case-studies">
    <div class="wrapper">
        <h2>More Case Studies</h2>
        <hr>
        <div class="row">
            <div class="col-4-ls col-4-ms mobileHide">
                <a [routerLink]="['/cases', 'ernstandyoung']"
                    [style.background-image]="'url(/assets/images/work-ernst-and-young.jpg)'">
                </a>
            </div>
            <div class="col-4-ls col-4-ms col-6-ss col-12-xs">
                <a [routerLink]="['/cases', 'quepro']"
                    [style.background-image]="'url(/assets/images/work-que-pro.jpg)'">
                </a>
            </div>
            <div class="col-4-ls col-4-ms col-6-ss col-12-xs">
                <a [routerLink]="['/cases', 'allsquare']"
                    [style.background-image]="'url(/assets/images/work-all-square.jpg)'">
                </a>
            </div>
        </div>
    </div>
</section>
