<section class="breadcrumbs">
    <div class="wrapper">
        <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/cases']">Case studies</a></li>
            <li class="active"><a href="#">AllSquare</a></li>
        </ul>
    </div>
</section>
<section class="pageHeader allsquareHeader">
    <div class="wrapper vc-container">
        <div class="block vc-block">
            <h1>AllSquare</h1>
            <p>We are a software development outsourcing and outstaffing company</p>
        </div>
    </div>
</section>
<section class="aboutClient">
    <div class="wrapper">
        <img src="/assets/images/icon/s_people.svg" alt="">
        <h2>About the Client</h2>
        <p>A powerful niche social network for professional and causal golfers. The Allsquare web and mobile platforms deliver the worlds largest and most comprehensive database of golf courses with a special profile for each.</p>
        <p>The users are capable of leaving feedback like reviews, photos and use other social media technologies. The website and the app makes the world of golf more open and connected while bringing many courses online for the first time to engage golf travelers and capture new business.</p>
        <p>The app and website users can also engage in connections with like-minded golfers and exchange travel recommendations, tips and other info that can be found useful.</p>
        <p>The golf course database includes about 33 000 golf courses across the world and this number in constantly growing.  </p>
    </div>
</section>
<section class="challenge">
    <div class="wrapper">
        <h2>The Challenge</h2>
        <hr>
        <p>AllSquare consists of a web-based application and native iOS app. The team MindPark was responsible for creating the design and layout of the web application and the development of a fully fledged Android mobile app.</p>
        <p>We were also required to develop a special page for the business providers that would present their business to the hundreds and thousands of app users. The page is targeted at golf course owners and helps them engage in the global golfers community.</p>
    </div>
</section>
<section class="techUsed">
    <div class="wrapper">
        <h2>Technologies used</h2>
        <hr>
        <div class="row">
            <div class="col-8-ls col-8-ms col-8-ss container">
                <div class="row">
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/less.svg" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/html5.svg" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/css3.svg" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/mind.svg" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/ps.svg" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/android.svg" alt="">
                    </div>
                    <div class="col-2-ls col-2-ms col-2-ss col-6-xs vc-container block">
                        <img class="vc-block" src="/assets/images/tech-grey/andr-studio.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="solution">
    <div class="wrapper">
        <h2>Our Solution</h2>
        <hr>
        <p>We have created a wide array of solutions for AllSquare. Some of the results of our work include the UI update of the website, various landing pages, prototyping of an Android app and overall UI/UX consultncy.</p>
    </div>
</div>
<section class="workImg allsquare"></section>
<section class="contactUs">
    <div class="wrapper">
        <div class="row">
            <div class="col-8-ls col-8-ms">
                <p>                         Let&#039;s start working on your project
                </p>
            </div>
            <div class="col-4-ls col-4-ms">
                <a [routerLink]="['/contacts']" id="contact" class="js-open-popup-contact" >Contact Us</a>
            </div>
        </div>
    </div>
</section>
<section class="case">
    <div class="wrapper">
        <h2>More Case Studies</h2>
        <hr>
        <div class="row">
            <div class="col-4-ls col-4-ms mobileHide">
                <a [routerLink]="['/cases', 'ernstandyoung']"><img src="/assets/images/work-1.jpg" alt=""></a>
            </div>
            <div class="col-4-ls col-4-ms col-6-ss col-12-xs">
                <a [routerLink]="['/cases', 'quepro']"><img src="/assets/images/work-2.jpg" alt=""></a>
            </div>
            <div class="col-4-ls col-4-ms col-6-ss col-12-xs">
                <a [routerLink]="['/cases', 'allsquare']"><img src="/assets/images/work-3.jpg" alt=""></a>
            </div>
        </div>
    </div>
</section>
